:root{

--Soft-blue: hsl(215, 51%, 70%);
--Cyan: hsl(178, 100%, 50%);

--Hard-darkblue: hsl(217, 54%, 11%);
--Medium-darkblue: hsl(216, 50%, 16%);
--Light-darkblue: hsl(215, 32%, 27%);
--White: hsl(0, 0%, 100%);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all 300ms ease-out;
}

body{
    background: var(--Hard-darkblue);
    font-family: "Outfit", sans-serif;
}

main{
    display: grid;
    place-items: center;
    margin: 4rem auto;
    padding: 20px;
}

p{
    font-size: 18px;
    line-height: 1.5;
    font-weight: 300;
}

h2{
    font-weight: 600;
}

.card{
    max-width: 400px;
    min-width: 320px;
    padding: 20px;
    background: var(--Medium-darkblue);
    color: var(--Soft-blue);
    border-radius: 20px;
}

.card .img-bx{
    margin-bottom: 1rem;
    position: relative;
}
.card .img-bx:hover .view{
    opacity: 1;
}
.card .img-bx img{
    border-radius: 10px;
    width: 100%;
}
.card .img-bx .view{
    border-radius: 10px;
    position: absolute;
    width: 100%;
    height: 97%;
    top: 0;
    left: 0;
    background: hsla(178, 100%, 50%, 0.4);
    overflow-y: hidden;

    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
}
.card .img-bx .view img{
    width: 5rem;
    object-fit: cover;
}

.card .colorize{
    color: var(--White);
    margin-bottom: 2rem;
    transition: all .3s ease-out;
}
.card .colorize:hover{
    color: var(--Cyan);
}

.pricing{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 1rem auto;
}

.pricing img{
    margin-right: 6px;
}

.pricing .details{
    display: flex;
    align-items: center;
    justify-content: center;
}
.pricing .details.one{
    color: var(--Cyan);
    font-weight: 600;
}

hr{
    background-color: var(--Light-darkblue);
    opacity: 0.3;
}

#user{
    width: 16rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 1rem;
}

#user img{
    width: 2rem;
    border: 2px solid var(--White);
    border-radius: 50%;
}
